{
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src", "./"]
      }
    },
    "react": {
      "version": "latest"
    }
  },
  "extends": ["airbnb"],
  "parser": "babel-eslint",
  "plugins": ["sort-destructure-keys", "sort-keys-fix"],
  "rules": {
    "sort-destructure-keys/sort-destructure-keys": 2,
    "sort-keys-fix/sort-keys-fix": 2,
    "react/jsx-uses-react": 0,
    "react/react-in-jsx-scope": 0,
    "no-unused-vars": 1,
    "react/jsx-fragments": 0
  }
}
